<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/home.css" />
  </head>
  <body>
    <div class="Heading">
      <div class="content">
        <h1>Your Ticket to Unforgettable Experiences</h1>
        <p>Get ready to embark on a journey of unforgettable experiences.</p>
      </div>
      <a href="/login">
      <button class="get-started-button" >Join the fun</button>
    </a>
    </div>
  </body>
  
</html>
